<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar %>" alt="<%= user.name%>" width="100">


<% if (profile_user.id == user.id) { %>
    <!-- If user matches show form -->
    <form action="/users/update/<%=profile_user.id %>" enctype= "multipart/form-data" method="post">
       <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
       <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>"required>

       <input type="file" name="avatar" placeholder="Profile Picture">
       <input type="submit" value="Update">
    </form>
<% } else { %>
    <!-- Show only profile info -->
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<% } %>
<br>
<br>
<br>
<% if (profile_user.id != user.id) { %>
    <a href="/friendships/togglefriend/?friend_id=<%=profile_user.id%>" data-profile="<%=profile_user.id%>" id="toggle-friendship-button">Add Friend</a>
<% } %>

<script src="/js/friendship.js"></script>

<script>
    $('#toggle-friendship-button').click(function(e){

            e.preventDefault();

            let anchorTag = $(this);
                $.ajax({
                    type: 'GET',
                    url: anchorTag.attr('href'),
                })
                .done(function(data) {
                    if (data.data.friendExist == true){
                        anchorTag.html(`Add Friend`);
                    } else {
                        anchorTag.html(`Remove Friend`);
                    }
                })
                .fail(function(errData) {
                    console.log('error in completing the request', errData);
                });
    });
</script>
